#weather-display { max-width: 280px; margin-left: auto; margin-right: auto; margin-top: 20px;  }
#current-weather { text-align: center; padding-bottom: 20px; padding-top: 20px; text-align: center }
#loading-screen { text-align: center; margin-top: 80px; }
#weather-details { border: solid 1px rgba(0,0,0,0.25);  margin-top: 80px; min-height: 320px; }
#weather-zip { text-align: center; }
#weather-zip input { max-width: 120px; margin-left: auto; margin-right: auto; margin-bottom: 8px; text-align: center; }
.centered { text-align: center; }
#current-weather h5 { margin-top: 12px; } 
